.comment-form-input {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 100px;
    resize: vertical;
    box-sizing: border-box;
}

.comment-form-submit {
    margin-top: 10px;
}

.comment-form-heading {
    width: fit-content;
    height: fit-content;
    font-size: 1.8em;
    color: #bbb
}
.comment-form__wrapper {
    margin-top: 10px;
    background-color: #111;
}