.post-meta {
    margin-left: 0;
}

.post-meta-item {
    display: inline;
    max-width: fit-content;
}

.post-item-wrapper {
    margin-right: 0px;
}

.post-author {
    font-size: 0.8em;
}

.post-published-date {
    font-size: 0.8em;
}

.post-item-link {
    color: white;
}