.nav-link__item {
  color: #b9b7c4;
  text-decoration: none;
  margin-right: 20px;
}

.nav-link__item.active {
  color: white!important;
  text-decoration: none;
}

.nav-link__item:visited{
    color: #b9b7c4;
    text-decoration: none;
}