#main-menu {
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link__item {
  color: #888888;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.2em;
}

.nav-link__item.active {
  color: white!important;
  text-decoration: none;
}

.nav-link__item:hover {
  color: rgb(144, 253, 244);
}