.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.search-container > input {
    font-size: 1.4em;
    width: 600px;
    background-color: black;
}