.thread-post {
    color: white;
    border-radius: 20px;
    outline: solid gray 1px;
    padding: 10px;
}

.thread-post-border {
    position: relative;
    margin-top: 20px;
    color: white;
    border-radius: 20px;
}

.thread-post-container  {
    width: 100%
}